@import "~themes/default"; // antd-admin
@dark-half: #494949;
@purple: #d897eb;
// @shadow-1: 4px 4px 20px 0 rgba(0,0,0,0.01);
// @shadow-2: 4px 4px 40px 0 rgba(0,0,0,0.05);
@shadow-1: 1px 0px 7px;
@shadow-2: 0px 1px 2px;
@shadow-3: 0px -2px 2px;
@transition-ease-in: all 0.3s ease-out;
@transition-ease-out: all 0.3s ease-out;
@ease-in: ease-in;

.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
